<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp_ID">
	<display-name>SIRH</display-name>
	<!-- Clustering tomcat -->
	<!-- Pour le moment on enleve le clustering tomcat pour tests -->
	<!-- <distributable /> -->


	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:META-INF/spring/applicationContext*.xml</param-value>
	</context-param>

	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>


	<servlet>
		<servlet-name>GestionAgent</servlet-name>
		<display-name>GestionAgent</display-name>
		<description></description>
		<servlet-class>
			nc.mairie.gestionagent.servlets.ServletAgent</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>GestionAgent</servlet-name>
		<url-pattern>/GestionAgent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GestionAgent</servlet-name>
		<url-pattern>/GestionAgentServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>Personnel.jsp</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<servlet-name>UploadEtatPayeur</servlet-name>
		<display-name>UploadEtatPayeur</display-name>
		<description></description>
		<servlet-class>nc.mairie.gestionagent.servlets.ServletEtatPayeur</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadEtatPayeur</servlet-name>
		<url-pattern>/UploadEtatPayeur</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>UploadEtatPayeur.jsp</welcome-file>
	</welcome-file-list> 

	<servlet>
		<servlet-name>HistoriquePointage</servlet-name>
		<display-name>HistoriquePointage</display-name>
		<description></description>
		<servlet-class>nc.mairie.gestionagent.servlets.ServletHistoriquePointage</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>HistoriquePointage</servlet-name>
		<url-pattern>/HistoriquePointage</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>OePTGVisualisation.jsp</welcome-file>
	</welcome-file-list> 

	<servlet>
		<servlet-name>HistoriqueAbsence</servlet-name>
		<display-name>HistoriqueAbsence</display-name>
		<description></description>
		<servlet-class>nc.mairie.gestionagent.servlets.ServletHistoriqueAbsence</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>HistoriqueAbsence</servlet-name>
		<url-pattern>/HistoriqueAbsence</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ActeursAgentAbsence</servlet-name>
		<display-name>ActeursAgentAbsence</display-name>
		<description></description>
		<servlet-class>nc.mairie.gestionagent.servlets.ServletActeursAgent</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ActeursAgentAbsence</servlet-name>
		<url-pattern>/ActeursAgentAbsence</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>OeABSVisualisation.jsp</welcome-file>
	</welcome-file-list> 
	
	<error-page>
		<error-code>404</error-code>
		<location>/404.jsp</location>
	</error-page>
</web-app>
